#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

########################################
# ACI Configuration
########################################
#
#    ACI.Client.Enable
#        Description: Enables the ACI client connection.
#        Default:     0 - Disabled
#                     1 - Enabled
#

ACI.Client.Enable = 0

ACI.Server.Address = 127.0.0.1
ACI.Server.Port = 4411
